:root {
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --backgrount-main-color: #fff;
    --accent-color: #2196F3;
    --white-color:#fff;
    }
    body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #fff;
    letter-spacing: 0.03em;
    margin: 0;
    }